<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyShop Test Suite">
    <test name="MyShop Tests">
        <classes>
            <class name="Tests.AccountCreationTest"/>
            <class name="Tests.ClickOnBlouseTest"/>
            <class name="Tests.AddToCartTest"/>
            <class name="Tests.CheckoutProcedureTest"/>
        </classes>
    </test>
</suite>
